body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards-container{
    padding: 15px, 9%;
    padding-bottom: 100px;
}

.heading{
    text-align: center;
    padding-top: 15px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.col{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1rf));
   grid: 15px;
   margin-top: 1rem;
}

.content{
    text-align: center;
}

.cards{
 border: 2px solid #beb7b7;
 border-radius: 5px;
}

.card-button{
    display: flex;
    justify-content: space-between;
}



.input-btn {
    background-color: aqua;
    color: #beb7b7;
}